*{
margin: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif; 
}

h1{
    font-size: 50px;
    padding-bottom: 15px;
}
h2{
    font-size: 40px;
}

/* Top Container Design Starts */

.top-container{
    background-color: blueviolet;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    height: 500px;
}

.top-div{
    padding: 100px;
}



#top-para{
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.donate-btn{
    text-decoration: none;
    background-image: linear-gradient(rgb(252, 135, 115),rgb(189, 53, 29));
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.donate-btn:hover{
    background-image: linear-gradient(tomato,rgb(136, 26, 7));
}

/* Top Container Ends */


/* Donate Today part Starts */

.donate-container{
    text-align: center;
    margin-top: 100px;
}

.flex-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 30px;
}

.amount-box{
    background-color: rgb(218, 216, 216);
    padding: 50px 50px;
    border: none;
    margin: 15px;
    box-shadow: 7px gray ;
    border-radius: 5px;
    padding-bottom: 20px;
    
}

.amount-box:hover{
    border: 2px solid tomato;
    background-color: rgba(255, 192, 203, 0.486);
}

.amount-box h3{
    padding-bottom: 25px;
    padding-right: 2px;
}

input{
    padding-top: 40px;
    padding-left: 15px;
    border: none;
    width: 150px;
}

hr{
    width: 50%;
    margin: auto;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.24);
    border: none;
    margin-bottom: 40px;
}


/* Donate Today part Ends */




/* Donation plan starts */

.plan-card{
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    background-color: gray;
    margin: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    
}

#color-sky{
    background-color: rgba(128, 186, 209, 0.322);
}
#color-pink{
    background-color: rgba(255, 192, 203, 0.425);
}
#color-yellow{
    background-color: rgba(209, 209, 89, 0.329);
}


.plan-card img{
    padding-top: 40px;
    padding-left: 15px;
}

.same-col{
    padding-top: 20px;
    padding-left:15px ;

}


/* Donation plan ends */



/* Contributes  Design Starts */

.contribute{
  
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.half-width{
    justify-content: center;
    
}

.property-d{
    text-align: left;
    padding-left: 15px;
    padding-top: 60px;
}
.property-d p{
    padding: 5px;
    margin-bottom: 30px;
}


.half-width img{
    width: 450px;
    height: 350px;
    padding: 5px;
    padding-top: 5px;
    border-radius: 15px;
}


/* Contributes Design Ends */


/* Update part Design Starts */

.update-section{
    text-align: center;
    margin-top:90px;
    margin-bottom: 40px;
}

.update-div{
    width: 50%;
    height: 200px;
    margin: auto;
    background-color: rgba(245, 181, 108, 0.301);
    padding-top: 85px;
    margin-top: 50px;
    margin-bottom: 90px;
}

.update-div a{
    text-decoration: none;
    box-sizing: border-box;
    width: 70px;
    padding: 5px 150px;
    color: black;
    background-color: rgba(170, 169, 169, 0.555);
    border-radius: 5px 0px 0px 5px;
    float: left;
}

button{
    padding: 7px 70px;
    background-color: rgb(228, 54, 23);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0px 5px 5px 0px ;
}

button:hover{
    background-color: rgb(150, 6, 6) ;
}

/* Update pats Design Ends */ 



/* footer design Starts */

footer{
    background-color: black;
    color: gray;
    text-align: center;
    padding: 50px;
}

footer h3{
    font-family: 'Lily Script One', cursive;
    color: rgb(228, 54, 23);
    margin-bottom: 30px;
}

/* Footer design Ends */
