*{
margin: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif; 
}


.top-container{
    background-color: blueviolet;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    height: 500px;
}

.top-div{
    padding: 100px;
}
p{
    padding: 20px;
}

h1{
    font-size: 50px;
}
#top-para{
    margin-bottom: 20px;
}

.donate-btn{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(182, 40, 15));
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}




/* Donate Today part Starts */

.donate-container{
    text-align: center;
    margin-top: 100px;
}

.flex-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
}

.amount-box{
    background-color: rgb(218, 216, 216);
    padding: 50px 50px;
    border: none;
    margin: 15px;
    box-shadow: 7px gray ;
    border-radius: 5px;
}

.amount-box:hover{
    border: 2px solid tomato;
    background-color: rgba(255, 192, 203, 0.486);
}

input{
    padding-top: 40px;
    padding-left: 15px;
    border: none;
    width: 150px;
}

hr{
    width: 50%;
    margin: auto;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.24);
    border: none;
    margin-bottom: 40px;
}


/* Donate Today part Ends */




/* Donation plan starts */

.plan-card{
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    background-color: gray;
    margin: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
}

#color-sky{
    background-color: rgba(128, 186, 209, 0.322);
}
#color-pink{
    background-color: rgba(255, 192, 203, 0.425);
}
#color-yellow{
    background-color: rgba(209, 209, 89, 0.329);
}


.plan-card img{
    padding-top: 40px;
    padding-left: 15px;
}

.same-col{
    padding-top: 20px;
    padding-left:15px ;

}


/* Donation plan ends */